# Chip configuration for AFTx07
cc = 'riscv64-unknown-elf-gcc'

cflags = [
	'-c',
    '-ffreestanding',
    '-Os',
    '-march=rv32imc',
    '-mabi=ilp32',
	'-mcmodel=medany',
    '-static',
    '-ffreestanding',
    '-fdata-sections',
    '-ffunction-sections',
    '-nostartfiles',
    '-fstack-usage',
]

ldflags = [
	'-Os',
    '-Wl,-gc-sections',
    '-march=rv32imc',
    '-mabi=ilp32',
	'-mcmodel=medany',
    '-nostartfiles',
    '-Wl,--no-relax',
    '-T/home/asicfab/a/socet21/Repos/embench-iot-aftx07/config/riscv32/chips/aftx07/link.ld'
]
user_libs = [
	'-lm'
]
